body {
    display: flex;
    flex-direction: column;
}
body > * {
    margin: 8px auto 8px auto;
}
table {
    width: fit-content;
}
.navigation > a {
    font-size: large;
    margin: 0 8px 0 8px;
}
hr {
    width: 100%;
}
